//colors
$colors: (
  app: (
    base: #eb5215,
    secondary: #ff5800,
    lighter: #ffc49b,
  ),
  grayscale: (
    1: #ffffff,
    2: #f2f5f7,
    3: #f4f4f4,
    4: #eaeaea,
    5: #d7d7d7,
    6: #afafaf,
    7: #868686,
    8: #737373,
    9: #575757,
    10: #363636,
  ),
  blue: #0096ff,
  orange_red: #c84127,
);

//Syntax: color(primary, base) or color(text-color);
@function color($color, $variant: null) {
  @if $variant == null {
    @return map-get($colors, $color);
  } @else {
    @return map-get(map-get($colors, $color), $variant);
  }
}
